@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;
    background-color: rgb(33, 105, 188);
}

section {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    /* height: 400px; */
    width: 400px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px); 
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 8px 30px rgba(0,0,0,0.2);
    padding-top: 10px;
    padding-bottom: 10px;
}

.cal-upper-body {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cal-upper-body>input {
    width: 90%;
    height: 45px;    
    outline: none;
    font-size: 30px;
    color: rgb(33, 105, 188);
    border: 2px solid rgb(154, 152, 152);
    text-align: right;
    border-radius: 4px;
}
.cal-lower-body {
    /* height: 300px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cal-lower-body>.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cal-lower-body>.row>.btn {
    height: 50px;
    width: 75px;
    margin: 10px;
    font-size: 20px;
    color: rgb(33, 105, 188);
    border-radius: 5px;
    border: none;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    outline: none;
}

.cal-lower-body>.row>.btn>i {
    font-size: 20px;
}